<div>
  <div>
    <h2>
      Add a new trip
    </h2>

    <form action="/insert_trip" method="post">
       <div>
        <label for="departs_at_box">
          Trip Date
        </label>

        <input type="date" id="departs_at_box" name="query_departs_at">
      </div>

      <div> 
        <label for="park_id_box">
          National Park
        </label>

        <select id="park_id_box" name="query_park_id">
          <% Park.all.order({ :title => :asc }).each do |a_park| %>
            <option value="<%= a_park.id %>">
              <%= a_park.name %>
            </option>
          <% end %>
        </select>
      </div>

      <button>
        Create trip
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <h1>
      List of all trips
    </h1>
  </div>
</div>

<hr>

<h2>
  Upcoming Trips
</h2>

<div>
  <div>
    <table>
      <tr>
        <th>
          Trip Date
        </th>

        <th>
          Park
        </th>

        <th>
          State
        </th>
        <th>
          Created at
        </th>

        <th>
          Delete
        </th>
      </tr>

      <% @upcoming_trips.each do |a_trip| %>

        <td>
          <%= a_trip.departs_at %>
        </td>
        
        <td>
          <a href="/parks/<%= a_trip.park.id %>">
            <%= a_trip.park.name %>
          </a>
        </td>


        </td>
        <td>
          <a href="/states/<%= a_trip.park.state.id %>">
            <%= a_trip.park.state.name %>
          </a>
        </td>

        <td>
          <%= time_ago_in_words(a_trip.created_at) %> ago
        </td>

        <td>
          <a href="/delete_trip/<%= a_trip.id %>">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h2>
  Past Trips
</h2>

<div>
  <div>
    <table>
      <tr>
        <th>
          Trip Date
        </th>

        <th>
          Park
        </th>

        <th>
          State
        </th>
        <th>
          Created at
        </th>

        <th>
          Delete
        </th>
      </tr>

      <% @past_trips.each do |a_trip| %>

        <td>
          <%= a_trip.departs_at %>
        </td>
        
        <td>
          <a href="/parks/<%= a_trip.park.id %>">
            <%= a_trip.park.name %>
          </a>
        </td>


        </td>
        <td>
          <a href="/states/<%= a_trip.park.state.id %>">
            <%= a_trip.park.state.name %>
          </a>
        </td>

        <td>
          <%= time_ago_in_words(a_trip.created_at) %> ago
        </td>

        <td>
          <a href="/delete_trip/<%= a_trip.id %>">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>