
<div>
  <div>
    <h2>
      List of all National Parks
    </h2>
  </div>
</div>

<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          Open year round
        </th>

        <th>
          Website
        </th>

        <th>
          State
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_parks.each do |a_park| %>
      <tr>
        <td>
          <%= a_park.name %>
        </td>

        <td>
          <% if a_park.open_year_round == true %>
            Yes
          <% else %>
            No
          <% end %>
        </td>

        <td>
          <a href="<%= a_park.website %>">
            <%= a_park.website %>
          </a>
        </td>

        <td>
          <%= a_park.state_id %>
        </td>

        <td>
          <a href="/parks/<%= a_park.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new National Park
    </h2>

    <form action="/insert_park" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <input type="checkbox" id="open_year_round_box" name="query_open_year_round" value="1">

        <label for="open_year_round_box">Open year round</label>
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <div> 
        <label for="state_id_box">
          State
        </label>

        <select id="state_id_box" name="query_state_id">
          <% State.all.order({ :name => :asc }).each do |a_state| %>
            <option value="<%= a_state.id %>">
              <%= a_state.name %>
            </option>
          <% end %>
        </select>
      </div>

      <button>
        Create park
      </button>
    </form>
  </div>
</div>
<hr>