<div>
  <div>
    <h1>
      Park #<%= @the_park.id %> details
    </h1>

    <% if @current_user == nil %>
      <% the_trip = 2000000 %>
    <% else %>
      <% the_trip = @current_user.trips.where({ :park_id => @the_park.id}).at(0) %>
    <% end %>

    <% if the_trip == 2000000 %>
      <form action="/insert_trip" method="post">
        <input type="hidden" id="park_id_box" name="query_park_id" value="<%= @the_park.id %>">
        
      </form>
    <% elsif the_trip == nil %>
      <form action="/insert_trip" method="post">
        <input type="hidden" id="park_id_box" name="query_park_id" value="<%= @the_park.id %>">

        <button>
          Add Park to Trips
        </button>
      </form>
    <% else %>
      <%# delete bookmark link %>
      <a href="/delete_trip/<%= the_trip.id %>">
        Remove Park from Trips
      </a>
    <% end %>

    <div>
      <div>
        <a href="/parks">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_park/<%= @the_park.id %>">
          Delete park
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>

      <dd>
        <%= @the_park.name %>
      </dd>

      <dt>
        Open year round
      </dt>
      <dd>
          <% if @the_park.open_year_round == true %>
            Yes
          <% else %>
            No
          <% end %>
      </dd>

      <dt>
        Website
      </dt>
      <dd>
        <%= @the_park.website %>
      </dd>

      <dt>
        State
      </dt>
      <dd>
        <%= @the_park.state.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_park.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_park.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Attraction
    </th>

    <th>
      Activity
    </th>

    <th>
    </th>
  </tr>

  <% @the_park.attractions.each do |a_attraction| %>
  <tr>
    <td>
      <%= a_attraction.id %>
    </td>

    <td>
      <%= a_attraction.name %>
    </td>

    <td>
      <%= a_attraction.activity.name %>
    </td>

    <td>
      <a href="/attractions/<%= a_attraction.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Activity
    </th>

    <th>
    </th>
  </tr>

<div>
  <div>
    <h2>
      Edit park
    </h2>

    <form action="/modify_park/<%= @the_park.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_park.name %>">
      </div>

      <div>
        <input type="checkbox" id="open_year_round_box" name="query_open_year_round" value="1" <%= "checked" if @the_park.open_year_round %>>

        <label for="open_year_round_box">
            Open year round
        </label>
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website" value="<%= @the_park.website %>">
      </div>

      <div>
        <label for="state_id_box">
          State
        </label>

        <input type="text" id="state_id_box" name="query_state_id" value="<%= @the_park.state_id %>">
      </div>

      <button>
        Update park
      </button>
    </form>
  </div>
</div>

<hr>
