<div>
  <div>
    <h2>
      List of all states
    </h2>
  </div>
</div>

<div>
  <div>
    <table>
      <tr>

        <th>
          Name
        </th>

        <th>
          Capital
        </th>

        <th>
          Website
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_states.each do |a_state| %>

        <td>
          <%= a_state.name %>
        </td>

        <td>
          <%= a_state.capital %>
        </td>

        <td>
          <a href="<%= a_state.website %>">
            <%= a_state.website %>
          </a>
        </td>

        <td>
          <a href="/states/<%= a_state.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
