<div>
  <div>
    <h1>
      <%= @the_state.name %>'s details
    </h1>

    <div>
      <div>
        <a href="/states">
          All States
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_state.name %>
      </dd>

      <dt>
        Capital
      </dt>
      <dd>
        <%= @the_state.capital %>
      </dd>

      <dt>
        Website
      </dt>
      <td>
          <a href="<%= @the_state.website %>">
            <%= @the_state.website %>
          </a>
      </td>

    </dl>
  </div>
</div>

<hr>
<h2><%= @the_state.name %>'s National Parks</h2>

<table border="1">
  <tr>
    <th>
      Park
    </th>

    <th>
      Open Year Round?
    </th>

    <th>
      State
    </th>

    <th>
    </th>
  </tr>

  <% @the_state.parks.each do |a_park| %>
  <tr>
    <td>
      <%= a_park.name %>
    </td>

    <td>
      <% if a_park.open_year_round == true %>
        Yes
      <% else %>
        No
      <% end %>
    </td>

    <td>
      <%= @the_state.name %>
    </td>

    <td>
      <a href="/parks/<%= a_park.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
<hr>
