<div>
  <div>
    <h1>
      <%= @the_state.name %>'s details
    </h1>

    <div>
      <div>
        <a href="/states">
          All States
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_state.name %>
      </dd>

      <dt>
        Capital
      </dt>
      <dd>
        <%= @the_state.capital %>
      </dd>

      <dt>
        Website
      </dt>
      <td>
          <a href="<%= @the_state.website %>">
            <%= @the_state.website %>
          </a>
      </td>

    </dl>
  </div>
</div>

<hr>
<h2><%= @the_state.name %>'s National Parks</h2>

<table border="1">
  <tr>
    <th>
      Park
    </th>

    <th>
      Open Year Round?
    </th>

    <th>
      State
    </th>

    <th>
    </th>
  </tr>

  <% @the_state.parks.each do |a_park| %>
  <tr>
    <td>
      <%= a_park.name %>
    </td>

    <td>
      <% if a_park.open_year_round == true %>
        Yes
      <% else %>
        No
      <% end %>
    </td>

    <td>
      <%= @the_state.name %>
    </td>

    <td>
      <a href="/parks/<%= a_park.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
<hr>

<div>
  <div>
    <h2>
      Edit state
    </h2>

    <form action="/modify_state/<%= @the_state.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_state.name %>">
      </div>

      <div>
        <label for="capital_box">
          Capital
        </label>

        <input type="text" id="capital_box" name="query_capital" value="<%= @the_state.capital %>">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <textarea id="website_box" name="query_website"><%= @the_state.website %></textarea>
      </div>

      <button>
        Update state
      </button>
    </form>
  </div>
</div>

<hr>