<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <meta charset="utf-8">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>

    <ul>
    <% if @current_user == nil %>
      <li>
        <a href="/user_sign_in">Sign In</a>
      </li>
      
      <li>
        <a href="/user_sign_up">Sign Up</a>
      </li>
    <% else %>
      <li>
        <a href="/trips">
          My Trips
        </a>
      </li>

      <li>
        <a href="/edit_user_profile">
          Edit <%= @current_user.first_name %>
        </a>
      </li>

      <li>
        <a href="/user_sign_out">Sign Out</a>
      </li>
    <% end %>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>

    <p style="color: green"><%= notice %></p>

    <p style="color: red"><%= alert %></p>
    
    <div>
      <div>
        <h1>
          Homepage
        </h1>
      </div>
    </div>

    <ul>
      <li>
        <a href="/trips">My Trips</a>
      </li>

      <li>
        <a href="/parks">National Parks</a>
      </li>

      <li>
        <a href="/states">States</a>
      </li>
      
      <li>
        <a href="/activities">Activities List</a>
      </li>

    </ul>

    <%= yield %>
  </body>
</html>
